@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
}

/* @keyframes example {
  0%  {color:#d83092;}
  100%  {color:white;}
}
.animate__bounceIn{
  color: #d83092;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;    
  animation-play-state: running; 
} */



/*#popupForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popupForm form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}*/


.form-control_sarah{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: rgb(224, 19, 19);
    background-clip: padding-box;
    border: 1px solid #097cee;
    border-radius: 0.25rem;
}

html,
body {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  /* display: grid; */
  height: 100vh;
  width: 100%;
  background-color: black;
color: white;
  /* background: linear-gradient(90deg, rgb(10, 236, 244) 0%, rgba(226, 12, 130, 0.804) 40%, rgb(255, 230, 0) 100%); */

}

/* Navbar */

.navbar .nav-item .nav-link:hover {
  color: white;
  /* font-weight: 500; */
  color: #d83092;
  border-radius: 50%;
}

/* Navbar */





.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #d83092;
}

.btn-outline-danger {
  color: #d83092;
  background-color: black;
  border-color: #d83092;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus,
.btn-outline-danger:hover {
  color: #fff;
  /* background-color: #d83092; */
  border-color: #d83092;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem #d83092;
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #fff;
  /* background-color: #d83092; */
  border-color: #d83092;
  
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d83092;
  border-color: #d83092;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #d83092;
}

.buttons input:focus {
  outline: none;
}



/* @media (min-width:200) and (max-width:700){
  .menuToggle {
    
    padding-top: 900000rem;
  }
} */


/* Floating Social Media */

@media (max-width:1000px){
  .navigation {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10rem;
    
  }
}

.navigation {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  /* padding-bottom: 200rem; */
  transform: translateY(-6rem);
}

.menuToggle {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.menuToggle::before {
  content: '+';
  position: absolute;
  font-size: 2.8em;
  font-weight: 550;
  color: #d83092;
  transition: 1.5s;
}

.menuToggle.active::before {
  transform: rotate(315deg);
}

.menu {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 70px;
  z-index: -1;
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s, 0.5s, 0.5s; 
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuToggle.active~.menu {
  width: 270px;
  height: 70px;
  z-index: 1;
  transform: translateY(-80px);
  transition-delay: 0s, 0.5s, 0.5s;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  /* left: calc(50% - 8px); */
  left: calc(10% - 0px);
  bottom: 4px;
  transform: rotate(46deg);
  border-radius: 2px;
  transition: 0.5s;
}

.menuToggle.active~.menu::before {
  transition-delay: 0.5s;
  bottom: -6px;
}

.menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 30px;
}

.menu ul li {
  list-style: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  transition: 0.25s;
  transition-delay: calc(0s + var(--i));
}

.menuToggle.active~.menu ul li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: calc(0.75s + var(--i));
}

.menu ul li a {
  display: block;
  font-size: 2.2em;
}

/* Floating Social Media */


.about-section h3{
  font-size: 34px;
}
.about-section h2{
  font-size: 40px;
}

.about-section p{
  font-size: 25px;
}

.about-section{
  margin-bottom: 75px;
}

.about-section .btn-outline-danger/* ,.about-section2 .btn-outline-danger */{
  width: 30%;
  font-size: 17px;
  font-weight: 500;
}


/* Home */

.about-section .btn-outline-danger,
.proj-home .btn-outline-danger {
  color: #e9329d;
  border-color: #e9329d;
}

.about-section .btn-outline-danger:hover,
.proj-home .btn-outline-danger:hover {
  background-color: #e9329d;
  color: white;
}

/* .about-section .img-fluid {
  height: 90%;
} */



.about-section h2,.about-section p{
  color: white;
}



.about-section .sarah_back img {
  margin-left: 20%;
  rotate: -4deg;
}

.about-section .sarah_back {
  position: relative;
  width: 100%;
  height: 500px;
  background: #e9329d;
  border-radius: 1% 80% 1% 90%;
  border-color: #e9329d;
  overflow: hidden;
  text-align: center;
  rotate: 2deg;
}


@media (min-width:200px) and (max-width: 400px) {

  .about-section h3{
    font-size: 25px;
  }

  .about-section h2{
    font-size: 29px;
  }
  
  .about-section p{
    font-size: 20px;
  }




  .about-section .sarah_back {
    position: relative;
    width: 100%;
    height: 100%;
    
    border-radius: 1% 80% 1% 90%;
    overflow: hidden;
    
  }

  .about-section .sarah_back img {
    margin-left: 3rem;
    margin-top: 9%;
  }
}

@media (min-width:401px) and (max-width: 1400px) {


  .about-section .sarah_back {
    position: relative;
    width: 100%;
    height: 100%;
    
    border-radius: 1% 80% 1% 90%;
    overflow: hidden;
  }

  .about-section .sarah_back img {
    margin-right: 1%;
    margin-top: -1%;
  }
}



/* @media (max-width: 700px) {


  .about-section .sarah_back {
    position: relative;
    width: 100%;
    height: 100%;
    
    border-radius: 1% 80% 1% 90%;
    overflow: hidden;
  }

  .about-section .sarah_back img {
    margin-right: 3%;
    margin-top: -2%;
  }
} */



.about-section .sarah_back .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px
}

.about-section .sarah_back .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.about-section .sarah_back .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.about-section .sarah_back .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.about-section .sarah_back .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wave {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1000px;
  }
}

.about-section .img-fluid {
  position: relative;
  width: max-content;
  height: 80vh;
  rotate: -2deg;
}

/* .about-section2{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
} */




.about-section2 h3{
  color: #d83092;
}

.about-section2 .shape {
  
  text-align: center;
}

.about-section2 .container .shape .animate__zoomIn{
  position: relative;
  border-radius: 10%;
  
  
  -webkit-animation: movebounce2 7s linear infinite;
          animation: movebounce2 7s linear infinite;
          /* opacity: 1; */
          /* animation: animated-gif 15s infinite; */
          animation-duration: 2s;
}

@-webkit-keyframes movebounce2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}


.about-section2 .btn-outline-danger{
  color: #e9329d;
  border-color: #e9329d;
}

.about-section2 .btn-outline-danger:hover{
  background-color: #e9329d;
  color: white;
}

/* .skills-home .card{

} */


.about-section2{
  /* padding-top:5rem; */
}


.about-section2 h3{
  font-size: 40px;
}

.about-section2 p{
  line-height:30px;
  font-weight: 450;
}


/* h3 {
  color:#e9329d;
  
  } */
h2 , .proj-home  h3 {
  color:white;
text-align: center;
}

.proj-home {
  margin-top: 10rem;
}




.proj-home .card .card-title a {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
}

.proj-home .card .card-title a:hover {
  text-decoration: none;
}


.proj-home .card .float {
  position: absolute;
  top: 0;
  left: 0;
  /* box-shadow: 0 5px 15px 0px rgba(54, 119, 131, 0.6); */
  background-color: #d83092;
  padding: 0px 10px 0px;

}


/* .card .card-body .img-fluid{
  height: 33vh;
  width: 90%;
  
} */


.card .card-body .image img{
  height: 29.5vh;
  width: 90%;
  
}

.card{
  background-color: black;
  color: white;
  box-shadow: 0 3px 6px #d83092, 0 3px 6px rgba(0,0,0,0.23);
}

.proj-home .card .float p{
  font-size: 10px;
  font-weight: 500;
  color: white;
  margin: 0;
  text-transform: uppercase;
  line-height: 20px;

}
.proj-home .card #p1{
  background-color: #d83092;
  border-radius: 50px 15px;
}

.proj-home .card #p1 span{
  color: white;
}

.proj-home .card {
  overflow: hidden;
}

.proj-home .card span{
  color: #d83092;
}

.proj-home .card .card-img-top {
  background-size: 100%;
  
  border-radius: inherit;
  object-fit: cover;
  transition: all ease-in-out 0.4s;
}

/* .proj-home .card img{
  
  object-fit: cover;
  height: 100%;
} */

.proj-home .card .card-body .card-img-top:hover {
  transform: scale(1.15) rotate(2.5deg);
}


.exp-home .card .btn-outline-danger {
  border-color: #e9329d;
  color: #e9329d;
}

.exp-home .card .btn-outline-danger:hover {
  background-color: #e9329d;
  color: white;
}

.exp-home .card .btn-outline-info {
  border-color: #0087ad;
  color: #0087ad;
}

.exp-home .card .btn-outline-info:hover {
  background-color: #0087ad;
  color: white;
}


.exp-home .card .btn-outline-danger {
  border-color: #fc7405;
  color: #fc7405;
}

.exp-home .card .btn-outline-danger:hover {
  background-color: #fc7405;
  color: white;
}

.exp-home .card #sm {
  border-color: #00d6fb;
}

.exp-home .card #sm:hover {
  background-color: #00d6fb;
  color: white;
}


.proj-home .card #sm2 {
  margin-left: 25%;
}


/* Home */






/* Projects */
/* Projects */





/* Skills */

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  overflow: hidden;
}

 .percent {
  position: relative;
  right: 5px;
  
}

.progressbar {
  position: relative;
  height: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.progress_html {
  background-color: #dd4b25;
  width: 10%;
}

#progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.progress_css {
  background-color: #214ce5;
}

#progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.progress_boo {
  background-color: #8611fd;
}

#progress-boo {
  -webkit-animation-name: progress-boo;
  animation-name: progress-boo;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-boo {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.progress_js {
  background-color: #efd81d;
}

#progress-js {
  -webkit-animation-name: progress-js;
  animation-name: progress-js;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-js {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.progress_php {
  background-color: #7377ad;
}

#progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.progress_code {
  background-color: #e74122;
}

#progress-code {
  -webkit-animation-name: progress-code;
  animation-name: progress-code;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-code {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.progress_git {
  background-color: #e74122;
}

#progress-git {
  -webkit-animation-name: progress-git;
  animation-name: progress-git;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-git {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.progress_sql {
  background-color: #00758f;
}

#progress-sql {
  -webkit-animation-name: progress-sql;
  animation-name: progress-sql;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.progress_git2 {
  background-color: #0c0f35;
}

#progress-git2 {
  -webkit-animation-name: progress-git2;
  animation-name: progress-git2;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-git2 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

.progress_micro {
  background-color: #dc3d00;
}

#progress-micro {
  -webkit-animation-name: progress-micro;
  animation-name: progress-micro;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progress-micro {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}



/* Skills */

/* footer h2,p,li {
    text-decoration: none;
    
} */

.contact{
  margin-top: 10rem;
}

.contact .img-fluid{
  
  
    position: relative;
    display: flex;
    padding-left: 10px;
    
}

.contact .btn-outline-danger{
  color: #e9329d;
  border-color: #e9329d;
}

.contact .btn-outline-danger:hover{
  background-color: #e9329d;
  color: white;
}


.contact input,.contact textarea{
  background-color: #cc90b300;
  border-color: rgb(32, 32, 32);
  box-shadow: 0 3px 6px #e798ca, 0 3px 6px rgba(0,0,0,0.23);
}

/* footer{
  margin-top: 15px;
} */

/* @media (max-width: 700px) {
  .foo{
    padding-top: 800%;
    padding-bottom: 15px;
  }
  
} */

/* .foo{
  padding-top: 100px;
  padding-bottom: 15px;
} */

/* @media (min-width:200px){
  footer .copyright-text p {
    color: white;
    padding-top: 3rem;
    padding-bottom: 15px;
  }
} */



footer{
  margin-top: 5rem;
}


footer .copyright-text p {
  color: white;
}

footer .copyright-text a {
  color: #d83092;
}

.footer-bottom {
  position: relative;
  text-align: center;
  padding:14px 0;
}



.back-to-top {
  position: fixed;
  bottom: -40px;
  right: 40px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #d83092;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.back-to-top:focus {
  color: #fff;
}
.back-to-top.show {
  bottom: 40px;
  right: 40px;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.back-to-top.show:hover {
  color: #fff;
  bottom: 30px;
  opacity: 1;
}
.arrow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
  position: absolute;
  width: 12px;
  height: 12px;
  background-size: contain;
  transform: rotate(-90deg);
  top: 30%;
  left: 40%;
}
.arrow:nth-child(2) {
  top: 42%;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: rotate(-90deg) translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: rotate(-90deg) translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0px) scale(1);
  }
}

.back-to-top:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.back-to-top:hover .arrow:nth-child(2) {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media only screen and (max-width: 575px) {
  .back-to-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .back-to-top.show {
    bottom: 10px;
    right: 10px;
  }
  .back-to-top.show:hover {
    bottom: 10px;
  }
  .arrow {
    top: 27%;
    left: 37%;
  }
}
